.jumbotron,
.jumbotron.container {
    padding-top: 10em;
    padding-bottom: 5em;
    background: rgb(52, 152, 219);
    color: white;
    text-align: center;
}


.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
    overflow: hidden;
}

.pinterest-picture {
    max-width: 100%;
    height: auto;
}

.pinterest-container {
	margin: 10px;
	outline: 2px solid blue;
	overflow: hidden;
	text-align: center;
}
