<div class="container text-center">
    <div class="row">
        <a href="#/">Back</a>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <a href="#/cards/{{prevCard}}" ng-hide="card._id == 0">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="col-sm-10">
            <img ng-src="{{card.logo}}">
            <div class="row">
                <h2>{{card.siteName}}</h2>
            </div>
            <div class="row">
                <h3>Front-End</h3>
                <div ng-repeat="i in card.frontend">
                    <p>
                        {{card.frontend[i]}}
                    </p>
                </div>
            </div>
            <div class="row">
                <h3>Back-End</h3>
                <div ng-repeat="i in card.backend">
                    <p>
                        {{card.backend[i]}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <a href="#/cards/{{nextCard}}">
                <span class="glyphicon glyphicon-chevron-right glyphicon"></span>
            </a>
        </div>
    </div>
</div>