<div class="jumbotron" ng-controller="SearchController">
    <div class="container">
        <div class="row">
            <h1>HowDoICorporateWeb?</h1>
        </div>
        <div class="row">
            <p>I wish to know how..</p>
        </div>
        <div class="row">
            <form action="#" class="" novalidate>
                <div class="input-group col-sm-8 col-sm-offset-2 input-hg flat">
                    <input type="text" placeholder="e.g. www.angularjs.org" class="form-control"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="row">
            <p>...works.</p>
        </div>
    </div>
</div>