<div class="jumbotron" ng-controller="SearchController">
    <div class="container">
        <div class="row">
            <h1>HowDoICorporateWeb?</h1>
        </div>
        <div class="row">
            <p>I wish to know how..</p>
        </div>
        <div class="row">
            <form action="#" class="" novalidate>
                <div class="form-group col-sm-6 col-sm-offset-3">
                    <input type="text" placeholder="e.g. www.angularjs.org" class="form-control input-lg">
                </div>
            </form>
        </div>
        <div class="row">
            <p>...works.</p>
        </div>
    </div>
</div>