<script type="text/javascript">
    $('#help').popover();
</script>

<div class="jumbotron" ng-controller="SearchController">
    <div class="container">
        <div class="row">
            <h1>DoCorporateWeb</h1>
        </div>
        <div class="row">
            <p>I wish to know how..</p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <form action="#" class="" novalidate>
                    <div class="input-group input-group-hg">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                        <input type="text" class="form-control" placeholder="e.g. www.angularjs.org" required>
                        <span id="help"
                              class="input-group-addon"
                              data-container="body"
                              data-toggle="popover"
                              data-placement="right"
                              data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">?</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <p>...works.</p>
        </div>
    </div>
</div>